/*----------------------------------------
Buttons...
----------------------------------------*/

.btn{
    background: $spotify_green;
    text-align: center;
    font-size: 1.15em;
    letter-spacing: 2px;
    line-height: 1;
    border-radius: 500px;
    padding: 21px 56px 19px;
    text-transform: uppercase;
    font-weight: 700;
    @include transition(all, .2s, ease-in-out);

    &:hover{
        background: lighten($spotify_green, 5%);
    }
}

#play, #pause, #next, #previous{
  background-color: Transparent; /* Blue background */
  border: none; /* Remove borders */
  outline: none;
  color: white; /* White text */
  padding: 12px 40px; /* Some padding */
  font-size: 10vh; /* Set a font size */
}
